:root {
    --textcolor: #3C3C3C;
    --green: #A9C7AA;
    --buttons: #EFE9DB;
    --hoverbuttom: #EFDDB5;
    --greenhover: #93c695;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
* { font-family: 'Montserrat', sans-serif;
color: #3C3C3C;}

body {background-image: url("background.png"); }

/*Login*/ 

.start-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 550px;
    width: 65%;
    border-radius: 25px;
    min-width: 1000px;
    background-image: linear-gradient(90deg, #EFDDB5 50%, #A9C7AA 50%);

}

.yellow h1 {
    padding: 80px;
    padding-top: 120px;
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #3C3C3C;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under; }

.yellow p {
    margin: 40px 580px 30px 80px;
    padding-top: -20px;
    font-weight: normal;
    font-size: 14px;
    color: #3C3C3C;}

.opret {
    margin-left: 80px;
    border-radius: 10px;
    padding: 8px;
    border: none;
    background-color: #A9C7AA;
    outline: none;
}

.opret:hover {
    background-color: #93c695;
}


.green {margin-top: -346px;}

.green h1 {
    padding-left: 688px;
    margin-top: -277px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #3C3C3C;}

.form {

    margin-left: 595px;
    margin-top: 40px;
}

input[type=name] {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 300px;

}


input[type=password] {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    width: 300px;
    color: var(--textcolor);

}

.login-knap {
    background-color: #EFE9DB;
    border-radius: 10px;
    border: none;
    padding: 8px;
    margin-top: 15px;
    margin-left: 120px;
}

.login-knap:hover {
    background-color: #EFDDB5;
}

 input:focus, textarea:focus, select:focus{
    outline: none;
}

/*Shop*/

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--green);
    overflow-x: hidden;
  }

.sidenav h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
    border-bottom: 1px solid var(--textcolor);
    width: 82%;
    border-color: var(--textcolor);
}
  .link a {
    text-align: center;
    margin: 10px;
    font-size: 20px;
    color: var(--textcolor);
    display: block;
    text-decoration: none;
    border: 1px solid var(--buttons);
    border-radius: 25px;
    padding: 8px;
    background-color: var(--buttons);


}


  .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: #A9C7AA;
    padding: 10px;
    padding-bottom: 0px;
  }

  .grid-item {

    margin-bottom: -20px;


  }

  .grid-item1 {

    padding: 11px;
    margin-top: -5px;
  }

  .shop {
      margin-left: 250px;

  }

  .shop h1 {
      margin-left: 475px;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 60px;
    padding-bottom: 0px;
    grid-gap: 35px;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;

  }

  .grid-container2 a {
      text-decoration: none;
      font-size: 11px;
      font-weight: normal;
      padding-bottom: 1px;

  }

  .grid-container2 h3{
      font-weight: 550;
      text-decoration: underline;
      text-underline-position: under;    
      width: 120%;

  }


  .grid-container2 p{
      padding-top: 4px;
      padding-bottom: 10px;
      font-size: 12px;
   }

  .grid-item2 {
      border: 1px solid var(--textcolor);
      border-radius: 25px;
      padding-top: 50px;
      padding-left: 35px;
      padding-right: 30px;
      padding-bottom: 1px;
     }

    .grid-container2 .kurv {
        margin-left: 50px;

    }

