
* {margin: 0;}
body {background-image: url("background.png"); }

/* forside */

.banner {
    opacity: 50%;
    position: relative;
    
}

.fronttext {
    position: absolute;
    top: 15%;
    margin-left: 100px;
    color: #3C3C3C;
    

}

.fronttext h1 {
    font-size: 50px;
    color: #3C3C3C;

}
.fronttext p{
    font-size: 25px;
    color: #3C3C3C;

}

.text h1 {
    margin-top: 50px;
    margin-left: 100px;
    font-size: 50px;
    color: #3C3C3C;

}

.text p {
    margin-left: 100px;
    font-size: 25px;
    color: #3C3C3C;

}

.text a {
     background-color: #a9c7aa;
     border: none;
     color: #3C3C3C;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     border-radius: 10px;
     margin-right: 200px;
}

.btn1{
    float: right;
    padding: 15px 55px;
    margin-top: -150px;
}

.btn2{
    padding: 15px 32px;
    float: right;
    margin-top: -80px;
}

.inffo {
    margin-top: 100px;
}

.pisk {
    float: left;
    margin-left: 200px;
    margin-top: -10px;
}

.kniv {
   float: right;
   margin-top: -80px;
   margin-right: 200px;
}

.moelle {
    display: block;
    margin-left: auto;
    margin-right: 680px;
    margin-top: -140px;
}

.pil1{
margin-left: 140px;
margin-top: -20px;
}

.pil2 {
    position: absolute;
    margin-left: 650px;
    margin-top: -85px;
}

.beskriv1 {
    color: #3C3C3C;
    font-size: 20px;
    font-weight: 100;
    margin-left: 300px;
    margin-top: 20px;
    display: flex;
}

.beskriv2 {
    color: #3C3C3C;
    font-size: 20px;
    font-weight: 100;
    float: right;
    margin-top: -90px;
    margin-right: 250px;
    display: flex;
}

.row {
    margin-top: 80px;
}

.row h2 {
    color: #3C3C3C;
    text-align: center;
    font-size: 35px;
}

.column {
    box-sizing: border-box;
    float: left;
    width: 20%;
    padding: 5px;
    margin-left: 55px;
    margin-top: 20px;
  }

  
/* footer */


/* chat */

.chat-icon {
    position: fixed;
    right: 30px;
    bottom: 0;
    font-size: 80px;
    color: #3C3C3C;
    cursor: pointer;
    z-index: 1000;
}

/* kontrol */

.kontrol {
    background-color: #a9c7aa;
    height: 400px;
    width: 500px;
    margin: auto;
    margin-top: 120px;
    border-radius: 20px;
}

.kontrol h1 {
    text-align: center;
    color: #3C3C3C;
}



.btn-group a{
    background-color: #efe9db;
    border-radius: 10px;
    color: #3C3C3C;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
     width: 150px;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 40px;
}




/* test */

.post-slider {
    border: 1px solid red;
}
.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    border: 1px dashed red;
}

.post-slider .post-wrapper .post{
    width: 300px;
    height: 350px;
   background-color: blue; 
   display: inline-block;

}

:root {
    --textcolor: #3C3C3C;
    --green: #A9C7AA;
    --buttons: #EFE9DB;
    --hoverbuttom: #EFDDB5;
    --greenhover: #93c695;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
* { font-family: 'Montserrat', sans-serif;
color: #3C3C3C;}

body {background-image: url("background.png"); }

/*Login*/ 

.start-card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 550px;
    width: 65%;
    border-radius: 25px;
    min-width: 1000px;
    background-image: linear-gradient(90deg, #EFDDB5 50%, #A9C7AA 50%);

}

.yellow h1 {
    padding: 80px;
    padding-top: 120px;
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #3C3C3C;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under; }

.yellow p {
    margin: 40px 580px 30px 80px;
    padding-top: -20px;
    font-weight: normal;
    font-size: 14px;
    color: #3C3C3C;}

.opret {
    margin-left: 80px;
    border-radius: 10px;
    padding: 8px;
    border: none;
    background-color: #A9C7AA;
    outline: none;
    cursor: pointer;
}

.opret:hover {
    background-color: #93c695;
}


.green {margin-top: -346px;}

.green h1 {
    padding-left: 688px;
    margin-top: -277px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #3C3C3C;}

.form {

    margin-left: 595px;
    margin-top: 40px;
}

input[type=name] {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 300px;

}


input[type=password] {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    width: 300px;
    color: var(--textcolor);

}

.login-knap {
    background-color: #EFE9DB;
    border-radius: 10px;
    border: none;
    padding: 8px;
    margin-top: 15px;
    margin-left: 120px;
    cursor: pointer;
}

.login-knap:hover {
    background-color: #EFDDB5;
}

 input:focus, textarea:focus, select:focus{
    outline: none;
}

/*Shop*/

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--green);
    overflow-x: hidden;
  }

.sidenav h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
    border-bottom: 1px solid var(--textcolor);
    width: 82%;
    border-color: var(--textcolor);
}
  .link a {
    text-align: center;
    margin: 10px;
    font-size: 20px;
    color: var(--textcolor);
    display: block;
    text-decoration: none;
    border: 1px solid var(--buttons);
    border-radius: 25px;
    padding: 8px;
    background-color: var(--buttons);


}


  .grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    background-color: #A9C7AA;
    padding: 10px;
    padding-bottom: 0px;
  }

  .grid-item {

    margin-bottom: -20px;


  }

  .grid-item1 {

    padding: 11px;
    margin-top: -5px;
  }

  .shop {
      margin-left: 250px;

  }

  .shop h1 {
      margin-left: 475px;
  }

  .grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 60px;
    padding-bottom: 0px;
    grid-gap: 35px;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;

  }

  .grid-container2 a {
      text-decoration: none;
      font-size: 11px;
      font-weight: normal;
      padding-bottom: 1px;

  }

  .grid-container2 h3{
      font-weight: 550;
      text-decoration: underline;
      text-underline-position: under;    
      width: 120%;

  }


  .grid-container2 p{
      padding-top: 4px;
      padding-bottom: 10px;
      font-size: 12px;
   }

  .grid-item2 {
      border: 1px solid var(--textcolor);
      border-radius: 25px;
      padding-top: 50px;
      padding-left: 35px;
      padding-right: 30px;
      padding-bottom: 1px;
     }

    .grid-container2 .kurv {
        margin-left: 50px;

    }


    /* Produkt side */


    .yellow1 h1 {
        padding-left: 60px;
        padding-top: 50px;
        font-size: 30px;
        font-weight: 350; 
    }

    .kotelet {
        padding-left:50px;
        padding-top: 50px;
    }

   .green1 h3 {
       margin-top: -380px;
       margin-left: 550px;
       font-weight: 400;
       font-size: 18px;
       text-decoration: underline;
       text-underline-position: under;
    
    }

    .btnday {
        margin-right: 72px;
    }

    .box {
        float: right;
        margin-right: 10px;
        border-radius: 10px;border: none;
        padding: 7px;
        background-color: var(--buttons);
        cursor: pointer;
    }

    .box:active {
        border:1px solid var(--hoverbuttom);
          background-color: var(--hoverbuttom);
        }

    .box:focus {
        border:1px solid var(--hoverbuttom);
        background-color:var(--hoverbuttom);
        outline: none;
            }

     .box:checked {
            border:1px solid var(--hoverbuttom);
              background-color:var(--hoverbuttom);
              outline: none;
            }

            .box a {
                text-decoration: none;
            }

     .green1 h4 {

        margin-left: 550px;
        margin-top: 100px;
        font-size: 18px;
        font-weight: 400;
        text-decoration: underline;
        text-underline-position: under;
    
    }   

    .green1 p {
        margin-left: 550px;
        margin-right: 50px;
        font-size: 12px ;
    }

    .cntact1 {
        border-radius: 8px;
        float: right;
        padding: 5px;
        margin-left: 10px;
        background-color: var(--buttons);
        border: var(--buttons);
        outline: none;
    }
    .cntact1:hover {
        background-color: var(--hoverbuttom);
    }

    .cntact {
        margin-right: 148px;
    }

    .cntact a {
        text-decoration: none; 
    outline: none;}

    .green1 h5 {

        margin-left: 550px;
        margin-top: 70px;
        font-size: 18px;
        font-weight: 400;
        text-decoration: underline;
        text-underline-position: under;
    
    }   

    .bestil1 {
        border-radius: 8px;
        float: right;
        padding: 5px;
        margin-left: 10px;
        background-color: var(--buttons);
        border: var(--buttons);
        outline: none;
    }

   
    
